<main>
   {{#getPost @config.custom.frontPost}}
      <article class="post">
          
         {{> amp-post-image}}

         <div>
            <header>
               <h1>
                  {{title}}
               </h1>
            </header>

            {{{text}}}

         </div>
      </article>
   {{/getPost}}
</main>
