{{> amp-head}}

    <main>
        <div class="grid">
            {{#post}}
                <article>

                    {{> amp-post-image}}
                    
                    <div>
                        <header>
                            <h1>
                                {{title}}
                            </h1>
                        </header>

                        {{{text}}}
                        
                        {{> share}}
                    
                    </div>
                </article>
                
            {{/post}}
            
        </div>
       
    </main>
{{> amp-footer}}
