{{> amp-head}}

    <main >
        {{#post}}
        <article>

            {{> amp-post-image}}
            
             <div>
                <header>
                    <h1>
                        {{title}}
                    </h1>
                </header>

                {{{text}}}
                 
                {{> share}}
             
            </div>
        </article>
        
        {{/post}}
       
       
    </main>
{{> amp-footer}}
