{{> head}}
{{> top}}

{{#checkIf @config.custom.frontSource '==' "post" }}
   {{> frontpage-post}}
{{else}}

   <main>

      {{> hero}}

      <div class="grid">

         {{#each posts}}
            <article>

               {{> post-image}}

               <h1>{{title}}</h1>

               <div class="excerpt">{{{excerpt}}}</div>

               <a href="{{url}}">visit</a>

            </article>
         {{/each}}
         {{> pagination}}
      </div>
   </main>

{{/checkIf}}
{{> footer}}
