{{> head}}
{{> top}}
<main>

   <div class="grid">

      {{#post}}

         <article>

            {{> post-image}}

            <h1>{{title}}</h1>

            <div class="content">{{{text}}}</div>

         </article>

      {{/post}}
   </div>
</main>
{{> footer}}
