@charset "UTF-8";

@import "assets/scss/reset.scss";

$breakpoint-small: 100px;
$breakpoint-medium: 200px;
$breakpoint-large: 300px;

header.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    background: #42a5f5;
    border-bottom: 1px solid #42a5f5;
    height: $breakpoint-small;
    z-index: 3;

    @include medium() {
        height: $breakpoint-medium;
    }

    @include desktop() {
        height: $breakpoint-large;
    }
}

main {
    margin-top: $breakpoint-small;

    @include medium() {
        margin-top: $breakpoint-medium;
    }

    @include desktop() {
        margin-top: $breakpoint-large;
    }
}